<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/holder.js"></script>

    <title>大熊猫餐厅</title>
</head>

<body>
    <main>
        <section class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header navbar-brand text-left">
                    <div class="logo"><img src="../images/动物.png" alt="" width="100%"></div>
                    <div class="logo-name">
                        <p>大熊猫餐厅</p>
                    </div>
                </div>
                <ul class="list-inline text-right">
                    <li><a href="#home">home</a></li>
                    <li><a href="#gallery">gallery</a></li>
                    <li><a href="#menu">menu</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </section>
        <section id="home" class="home">
            <div class="container">
                <div class="learn-content">
                    <div class="learn-more text-center">
                        <a href="#gallery">
                            <h1>Learn more</h1>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="gallery" class="gallery">
            <div class="container-fluid">
                <div class="gallery-content">
                    <div class="row">
                        <p class="page-header text-center">Food Gallery</p>
                        <div class="col-lg-6 col-md-6">
                            <div class="food-gallery">
                                <div class="food-gallery-img">
                                    <img src="../images/食品1.jpg" alt="">
                                </div>
                                <div class="food-gallery-tip">
                                    <p class="food-gallery-tip-header">西冷牛扒</p>
                                    <p class=" food-gallery-tip-exp">
                                        西冷是牛外脊，在肉的外延带一圈呈白色的肉筋，经过煎烤之后有非常浓郁的牛脂香味，总体口感韧度强、肉质硬、有嚼头</p>
                                </div>
                                <div class="food-gallery-tip">
                                    <p class="food-gallery-tip-header">香辣牛腩</p>
                                    <p class=" food-gallery-tip-exp">吃完牛腩剩下的汤汁，可以留着做牛腩面的汤头；如果剩下比较多的话还可以用来作卤水溏心蛋。</p>
                                </div>
                                <div class="food-gallery-img">
                                    <img src="../images/食品2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="food-gallery">
                                <div class="food-gallery-img">
                                    <img src="../images/食品3.jpg" alt="">
                                </div>
                                <div class="food-gallery-tip">
                                    <p class="food-gallery-tip-header">特色鱼丸</p>
                                    <p class=" food-gallery-tip-exp">鱼丸追求的又是白，白到一起了。再说白鲢去了皮，纯肉的味道不仅不腥，还带着甜味，上等鱼肉的味道。</p>
                                </div>
                                <div class="food-gallery-tip">
                                    <p class="food-gallery-tip-header">糯米糕</p>
                                    <p class=" food-gallery-tip-exp">
                                        用优质糯米粉、白砂糖和水，上锅蒸制即可。甜粿好吃，但蒸制费时，蒸一笼要花上十几个小时，也正因为蒸制时间长，口感才越糯。</p>
                                </div>
                                <div class="food-gallery-img">
                                    <img src="../images/食品4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="menu" class="menu">
            <div class="container">
                <p class="page-header text-center">Food Menu</p>
                <div class="FoodMenu text-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="meal">
                                <div class="meal-header">
                                    <div class="meal-logo-img"><img src="../images/沙拉.png" alt=""></div>
                                    <div class="meal-logo-content">
                                        <div class="meal-logo-top" style="width: 70px;">
                                            <p>沙拉</p>
                                        </div>
                                        <div class="meal-logo-bottom" style="width: 70px;">
                                            <p>SALAD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="meal-menu">
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <p>凯撒沙拉佐意式香料炸鸡</p>
                                        </div>
                                        <div class="meal-menu-price">
                                            <p>RMB 35</p>
                                        </div>
                                    </div>
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <p>四季水果夏格沙拉</p>
                                        </div>
                                        <div class="meal-menu-price">
                                            <p>RMB 35</p>
                                        </div>
                                    </div>
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <P>挪威烟熏鮭魚沙拉佐芥末子油醋</P>
                                        </div>
                                        <div class="meal-menu-price">
                                            <P>RMB 35</P>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meal-img">
                                <img src="../images/salad.png" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="meal-img">
                                <img src="../images/mainfood.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meal">
                                <div class="meal-header">
                                    <div class="meal-logo-img"><img src="../images/菜品.png" alt=""></div>
                                    <div class="meal-logo-content">
                                        <div class="meal-logo-top">
                                            <p>主菜套餐</p>
                                        </div>
                                        <div class="meal-logo-bottom">
                                            <p>Main Course</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="meal-menu">
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <p>手抓羊肉</p>
                                        </div>
                                        <div class="meal-menu-price">
                                            <p>RMB 99</p>
                                        </div>
                                    </div>
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <p>香辣大盘鸡</p>
                                        </div>
                                        <div class="meal-menu-price">
                                            <p>RMB 68</p>
                                        </div>
                                    </div>
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <P>澳洲龙虾</P>
                                        </div>
                                        <div class="meal-menu-price">
                                            <P>RMB 168</P>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="meal">
                                <div class="meal-header">
                                    <div class="meal-logo-img">
                                        <img src="../images/甜点.png" alt="">
                                    </div>
                                    <div class="meal-logo-content">
                                        <div class="meal-logo-top" style="width: 70px;">
                                            <p>甜点</p>
                                        </div>
                                        <div class="meal-logo-bottom" style="width: 70px;">
                                            <p>DESSERT</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="meal-menu">
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <p>法式吐司佐水果冰淇淋</p>
                                        </div>
                                        <div class="meal-menu-price">
                                            <p>RMB 25</p>
                                        </div>
                                    </div>
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <p>水果天堂松饼</p>
                                        </div>
                                        <div class="meal-menu-price">
                                            <p>RMB 35</p>
                                        </div>
                                    </div>
                                    <div class="meal-menu-content">
                                        <div class="meal-menu-name">
                                            <P>炸鸡蜂蜜松饼</P>
                                        </div>
                                        <div class="meal-menu-price">
                                            <P>RMB 25</P>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meal-img">
                                <img src="../images/dessert.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="contact-body">
                <div class="container">
                    <p class="page-header text-center">Contact</p>
                </div>
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="contact-form">
                                <div class="contact-info">
                                    <table class=" table text-center">
                                        <tr>
                                            <th>Contact Info</th>
                                            <th>Open Hours</th>
                                        </tr>
                                        <tr>
                                            <th>phone</th>
                                            <th>Workday</th>
                                        </tr>
                                        <tr>
                                            <td>xxx</td>
                                            <td>7:30 AM - 10:00 PM</td>
                                        </tr>
                                        <tr>
                                            <th>location</th>
                                            <th>Weekend</th>
                                        </tr>
                                        <tr>
                                            <td>xxx</td>
                                            <td>7:30 AM - 10:00 PM</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                            <div class="contact-form  text-center">
                                <div class="form-inputs">
                                    <form action="" method="post">
                                        <label>name</label>
                                        <div class="input-items">
                                            <input type="text" name="name" id="name" placeholder="name" required
                                                class=" form-control name">
                                        </div>
                                        <div class="form-inputs">
                                            <label>Email</label>
                                            <div class="input-items">
                                                <input type="text" name="Email" id="Email"
                                                    placeholder="user@myadmin.com" required
                                                    pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$"
                                                    class=" form-control email">
                                            </div>
                                        </div>
                                        <div class="form-inputs">
                                            <label>Message</label>
                                            <div class="input-items">
                                                <textarea name="message" id="message" rows="8"
                                                    class=" form-control message" placeholder="message"
                                                    style="border: 2px solid #fff;"></textarea>
                                            </div>
                                        </div>
                                        <div class="button">
                                            <div class="button-items">
                                                <button class=" btn btn-lg" type="submit" value="submit">Make a
                                                    Reservation
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer">
        </section>
    </main>

</body>

</html>