main {
  max-width: 100%;
  height: auto;
  background-color: rgb(250, 246, 246);
  scroll-behavior: smooth;
}

.navbar {
  max-width: 100%;
  height: 70px;
  border: 0px;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

ul li {
  width: 90px;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  padding: 15px 15px;
}

ul li a {
  font-family: STXinwei;
  color: rgb(0, 0, 0);
}

ul li a:hover {
  color: rgb(186, 218, 247);
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-brand {
  /* width: 100px; */
  font-size: 25px;
  line-height: 35px;
  padding: 5px 15px 10px 15px;
  height: auto;
}

.logo {
  width: 25%;
  height: auto;
  float: left;
}

.logo-name {
  width: 50%;
  float: left;
}

.logo-name p {
  padding-left: 15px;
  padding-top: 10px;
}

.navbar-brand p {
  float: left;
  font-size: 18px;
}

.home {
  background-image: url("../images/home-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  /* align-items: center; */
  /* filter: blur(3px); */
  height: 100vh;
  display: flex;
  /*align-items: center;*/
}

.learn-content {
  width: 480px;
  height: 200px;
  background-color: rgba(216, 216, 216, 0.4);
  margin: 0 auto;
  margin-top: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(216, 216, 216); */
  /* border-radius: 50px; */
  /* box-shadow: 0px 0px 10px 3px grey; */
}

.learn-more {
  width: 255px;
  height: 80px;
  border: 2px solid rgb(216, 216, 216);
  transition: all 0.5s;
}

.learn-more a {
  text-decoration: none;
  color: #e5e5e5;
}

.learn-more:hover {
  color: #ffefef;
  background-color: #d4caca;
}

.gallery {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding-bottom: 80px;
  /* margin-top: 54px; */
  background-color: rgb(216, 216, 216);
}

.food-gallery {
  width: 100%;
  height: 400px;
  margin-top: 35px;
  /* background-color: aqua; */
}

.food-gallery-img {
  width: 50%;
  height: 205px;
  /* background-color: aquamarine; */
  float: left;
}

.food-gallery-img img {
  width: 100%;
  transition: all 0.5s;
}

.food-gallery-img:hover img {
  transform: scale(1.1);
}

.food-gallery-tip {
  width: 50%;
  height: 205px;
  background-color: #212529;
  float: left;
  font-family: STXinwei;
}

.food-gallery-tip-header {
  font-size: 24px;
  color: white;
  line-height: 100px;
  text-align: center;
}

.food-gallery-tip-exp {
  font-size: 18px;
  color: white;
  line-height: 28px;
  text-align: center;
}

.page-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  color: black;
  /* margin-bottom: 80px; */
}

.gallery-content {
  max-width: 100%;
  margin: auto;
}

.menu {
  max-width: 100%;
  height: auto;
  background-color: rgb(36, 36, 36);
  /* background-color: white; */
}

.page-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  border-bottom: none;
}

.meal {
  max-width: 560px;
  height: 330px;
  /* background-color: aqua; */
  padding-top: 15px;
}

.meal-header {
  width: 200px;
  height: 60px;
  /* background-color: aquamarine; */
  /* margin-top: 15px; */
  margin-left: 15px;
  /* transform: scale(1.2); */
}

.meal-logo-img {
  width: 60px;
  height: 60px;
  float: left;
  margin-left: -10px;
}

.meal-logo-img img {
  width: 100%;
}

.meal-logo-content {
  width: 130px;
  height: 60px;
  float: left;
  margin-left: 15px;
}

.meal-logo-top {
  width: 90px;
  height: 35px;
  border-bottom: 2px solid rgb(216, 216, 216);
}

.meal-logo-bottom {
  width: 100px;
  height: 25px;
  /* border-top: 2px solid rgb(216, 216, 216); */
}

.meal-logo-top p {
  line-height: 30px;
  font-size: 22px;
  color: white;
}

.meal-logo-bottom p {
  line-height: 30px;
  font-size: 18px;
  color: rgb(216, 216, 216);
}

.meal-menu {
  width: 100%;
  height: 230px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: azure; */
}

.meal-menu-content {
  width: 100%;
  height: 60px;
  /* background-color: aquamarine; */
}

.meal-menu-name {
  width: 60%;
  height: 60px;
  /* background-color: aqua; */
  float: left;
}

.meal-menu-name p {
  line-height: 60px;
  font-size: 18px;
  color: white;
  text-align: left;
  padding-left: 10px;
  font-family: 等线;
  transition: all 0.5s;
}

.meal-menu-name:hover p {
  background-color: rgb(20, 20, 20);
  /* text-shadow: 2px 2px 2px 2px grey; */
}

.meal-menu-price {
  width: 20%;
  height: 60px;
  margin-right: 15px;
  /* background-color: aqua; */
  float: right;
}

.meal-menu-price p {
  line-height: 60px;
  font-size: 18px;
  color: white;
  font-family: 等线;
}

.meal-img {
  width: 340px;
  height: auto;
  margin: 0 auto;
}

.FoodMenu {
  font-size: 24px;
  color: darkcyan;
  font-family: FZShuTi;
}

.contact {
  background-image: url(../images/footer-bg.jpg);
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
  padding-bottom: 50px;
  /* background-color: rgb(0, 229, 245); */
}

.contact .page-header {
  color: black;
  border-bottom: none;
}

.page-header {
  border-bottom-color: aqua;
}

table {
  margin-top: 65px;
}

label {
  float: left;
  margin: 15px 0px 10px 15px;
}

table tr th {
  font-size: 24px;
  color: rgb(216, 216, 216);
  text-align: center;
}

table tr td {
  font-size: 18px;
  color: rgba(201, 201, 201, 0.767);
}

.name {
  background: url("../images/name.png");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 9px;
  background-size: 25px;
  padding-left: 40px;
}

.message {
  background: url("../images/message.png") no-repeat;
  background-color: #ffffff;
  background-position-x: 4px;
  background-position-y: 9px;
  background-size: 25px;
  padding-left: 40px;
  padding-top: 10px;
}

.email {
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 9px;
  background-size: 25px;
  padding-left: 40px;
}

.contact-form {
  max-width: 560px;
  margin: 0 auto;
}

.input-items input {
  border: 2px solid #fff;
  width: 100%;
  background-color: white;
  height: 50px;
}

.button {
  display: flex;
  justify-content: center;
}

.button-items {
  margin-top: 35px;
}

.btn {
  background-color: white;
  border: 2px solid rgb(216, 216, 216);
  max-width: 260px;
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgb(216, 216, 216);
  color: white;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: rgb(71, 71, 71);
}
